.buttonSeeMoreMessages {
    background: #3498db;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: white;
    border: 0;
    outline: none !important;
    margin: 1rem auto;
    display: flex;
    box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.4);
    transition: all .5s ease;

    &:hover {
        transition: all .5s ease;
        box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.1);
    }
}

.HideButtonSeeMoreMessages {
    display: none;
}

$green: rgba(255, 255, 255, 0.1);
$blue: rgba(255, 255, 255, 0.25);
$orange: #E38968;
$gray: #dadada;


.container {
    margin: 5rem auto;
    width: 1150px;
    height: 84.7rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;

}

.people-list {
    width: 360px;
    height: 84.7rem;
    float: left;
    overflow-y: scroll;

    .name {
        font-family: $chakra;
        font-weight: bold;
        font-size: 1.4rem;
        color: #7EFF7B;
    }

    .avatar {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        border: 3px solid #ffffff70;
    }
    .search {
        padding: 20px;
    }

    input {
        border-radius: 3px;
        border: 1px solid #ffffff70;
        padding: 14px;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        width: 90%;
        font-size: 14px;

        &::placeholder {
            color: #FFFFFF;
        }
    }

    .fa-search {
        position: relative;
        left: -25px;
    }

    ul {
        padding: 20px;
        height: 770px;




        li {
            padding-bottom: 20px;
        }
    }

    img {
        float: left;
    }

    .about {
        float: left;
        margin-top: 8px;
    }

    .about {
        padding-left: 8px;
    }

    .status {
        color: $gray;
    }

}

.chat {
    width: 790px;
    height: 84.7rem;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    color: #434651;

    .chat-header {
        padding: 20px;
        border-bottom: 2px solid #ffffff70;

        img {
            float: left;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            border: 3px solid #ffffff70;

        }

        .chat-about {
            float: left;
            padding-left: 10px;
            margin-top: 6px;
        }

        .chat-with {
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;
        }

        .chat-num-messages {
            color: $gray;
        }

        .fa-star {
            float: right;
            color: #D8DADF;
            font-size: 20px;
            margin-top: 12px;
        }
    }

    .chat-history {
        padding: 30px 30px 20px;
        border-bottom: 2px solid #ffffff70;
        overflow-y: scroll;
        height: 575px;

        .message-data {
            margin-bottom: 15px;
        }

        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: 6px;
        }

        .message {
            color: #7EFF7B;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;

            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .my-message {
            background: $green;
        }

        .other-message {
            background: $blue;

            &:after {
                border-bottom-color: $blue;
                left: 93%;
            }
        }

    }

    .chat-message {
        padding: 30px;

        textarea {
            border-radius: 3px;
            border: 1px solid #ffffff70;
            padding: 14px;
            color: white;
            background: rgba(255, 255, 255, 0.2);
            width: 90%;
            font-size: 14px;
            resize: none;
            margin-left: 3rem;

            &::placeholder {
                color: white;
            }

        }

        .fa-file-o,
        .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;

        }

        button {
            float: right;
            color: $blue;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;

            &:hover {
                color: darken($blue, 7%);
            }
        }
    }
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #7EFF7B;
}

.offline {
    color: #ec6313;
}

.me {
    color: #3498db;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.people-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-right: 1rem;
}

.people-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.people-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.people-list::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.people-list::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

.chat-history::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-right: 1rem;
}

.chat-history::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.chat-history::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.chat-history::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.chat-history::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

#btnSend, .is-hidden {
    display: none;
}

.latest-message {
    width: 25rem;
    overflow: hidden;
}

.unread {
    font-weight: 700;
}