.myprofile-nav {
    &__title {
        font-family: $chakra;
        font-weight: 700;
        font-size: 4.8rem;
        text-align: center;
        padding-bottom: 8rem;
    }

    &__blockarea {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7.1rem;

        &__blocks {
            width: 28.9rem;
            height: 30.2rem;

            background: rgba(217, 217, 217, 0.1);
            border-radius: 25px;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3.8rem;

            &:hover {
                background: rgba(217, 217, 217, 0.2);
                cursor: pointer;
            }

            &__imageOne {
                margin-bottom: 3.6rem;
                width: 40%;
            }

            &__imageTwo {
                margin-bottom: 3.5rem;
                margin-top: 0.5rem;
                width: 30%;
            }

            &__imageThree {
                margin-bottom: 4.3rem;
                margin-top: 0.6rem;
                width: 50%;
            }

            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
                font-family: $chakra;
                padding-bottom: 3.1rem;
            }

            &__number {
                font-weight: 700;
                font-size: 42px;
                line-height: 42px;
                font-family: $chakra;
                color: #7EFF7B;
            }
        }
    }
}





.profile-info {
    width: 73.1rem;
    height: auto;
    padding-bottom: 20rem;
    border-radius: 25px;
    margin: 5rem auto;
    clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 77%, 0 0);
    background-color: rgba(255, 255, 255, 0.1);

    &__nav {
        width: 90rem;
        margin: 0 auto;
        padding: 5rem 0;
        border-bottom: 1px solid #7F7DE7;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 21.8rem;
        }

        &__links {

            font-weight: 700;
            font-size: 3.2rem;
            text-align: center;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }

        }
    }

    &__titles {
        font-family: $chakra;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #FFFFFF;
        background: #5b08667c;
        padding: 1rem;
        border: 1px solid #ffffff70;
        border-radius: 15px;
        margin-bottom: 5rem;
    }

    &__global {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    &__skills {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    &__gallery {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    &__items {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    &__bar-items {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &__bar-title {
        font-family: $exo;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        color: #7EFF7B;
        text-transform: uppercase;
        width: 25rem;
    }

    &__title {
        font-family: $exo;
        font-weight: 700;
        font-size: 2rem;
        text-align: right;
        color: #7EFF7B;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        width: 25rem;
    }

    &__text {
        font-family: $exo;
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        width: 25rem;

        &__link {
            font-family: $exo;
            font-weight: 700;
            font-size: 2rem;
            text-align: left;
            width: 25rem;

            &:hover {
                color: rgba(255, 255, 255, 0.795);
                cursor: pointer;
            }
        }

    }
}

#nav_global {
    color: #7EFF7B;
}


//PROGRESS BAR FOR AFFINITIES

.meter {
    box-sizing: content-box;
    height: 1rem;
    position: relative;
    margin-bottom: 2rem;
    color: #FFFFFF;
    background: #ffffff1c;
    padding: 1rem;
    border: 1px solid #ffffff70;
    border-radius: 25px;
    padding: 0.5rem;
    width: 30rem;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FC7BFF;
    position: relative;
    overflow: hidden;
}

.meter>span:after,
.animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.nostripes>span>span,
.nostripes>span::after {
    background-image: none;
}
.margin-bottom {
    margin-bottom: 13rem;
}