.carousel{
    height: 55.5rem;
    width: 113.6rem;
    margin: 6.2rem auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    border-radius: 25px;

    &__textarea {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 10.4rem;

        width: 52.9rem;

        &__title {
            font-family: $chakra;
            font-weight: 700;
            font-size: 4.8rem;
            text-align: center;
        }

        &__text {
            font-family: $chakra;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 4rem;
            text-align: center;
        }
    }

    &__inner {
        height: 100%;
        display: flex;
        transition: all ease .5s;
    }

    &__item {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: rgba(217, 217, 217, 0.1);
        border-radius: 25px;
    }

    &__controls {

        &__prev {
            display: inline-block;
            height: 32px;
            width: 32px;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../../src/img/index/prev.svg');
            background-position: center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        &__next {
            display: inline-block;
            height: 32px;
            width: 32px;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../../src/img/index/next.svg');
            background-position: center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__indicators {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin: 0 auto;

        span {
            display: inline-block;
            background-color: #FC7BFF;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            opacity: .5;
            cursor: pointer;
            margin: 3px;

            &.active {
                opacity: 1;
            }
        }
    }
}