/* The login popup form - hidden by default */

.popup_overlay {
	display: none;
	position: fixed;
    width: 100vw;
    height: 100vh;
	z-index: 99;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
}

.popup-block {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    position: fixed;
    top: 5rem;
    background: linear-gradient(179.87deg, #553072 30.44%, #4e025c 99.88%);
	width: 64.4rem;
    min-height: 50rem;
	max-height: 80.3rem;
    border-radius: 25px;
    overflow-y: scroll !important;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        margin-top: 5.2rem;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
        background-clip: text;
        color: white;
    }

    &__text {
        margin-top: 2.1rem;
        font-weight: 400;
        font-size: 1.6rem;
        color: white;

        &__forgot {
            margin: -2.1rem 0 4.2rem 20rem;
            font-weight: 400;
            font-size: 1.2rem;
            
            @include hoverLinks;
        }

        &__signup {
            font-weight: 400;
            font-size: 1.2rem;
            color: white;
            padding-bottom: 1rem;
        }

    }

    &__link {

        &__signup {
            font-weight: 700;
            font-size: 1.2rem;
            text-decoration: underline;
            color: white;

            @include hoverLinks;
        }
    }

    &__form {
        margin-top: 5.3rem;
        display: flex;
        flex-direction: column;

        &__text {
            margin-bottom: 0.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            color: #7EFF7B;
        }

        &__input {
            width: 34.7rem;
            height: 4rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            background: white;
            border: 1px solid #D1D1D1;
            border-radius: 5px;

            &::first-line {
                padding-left: 1rem;
            }

            &::placeholder {
                font-weight: 500;
                font-size: 1.4rem;
                color: #2F2F2F;
            }
        }
    }

    &__buttonarea {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        &__button {
            background-color: #5518EC;
            border-radius: 25px;
            border: none;
            width: 15.7rem;
            height: 5.4rem;
            margin-bottom: 3.8rem;
    
            color: white;
            font-weight: 700;
            font-size: 1.4rem;
            text-align: center;

            @include hoverButton;
        }
    }
}
.popup-content {
    margin: 0 auto;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}