@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 62.5%;
  background: linear-gradient(179.87deg, #230079 0.27%, #380062 46.44%, #7D0491 99.88%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: 100vw;
}

a, ul {
  text-decoration: none;
  list-style: none;
  color: white;
}

/* Custom dropdown for lang button */
.header {
  width: 101.3rem;
  height: 13.2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #4543A9;
}
.header__logo {
  margin: 0 13.3rem 0 0;
  width: 11.5rem;
}
.header__nav__list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  margin-right: 13.5rem;
}
.header__nav__list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.header__nav__links {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.header__nav__links:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.header__nav__buttons {
  width: 14.4rem;
  height: 5.3rem;
  background: #5518EC;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.header__nav__buttons:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #7EFF7B;
  cursor: pointer;
}
.header__nav__buttons #circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  -webkit-transition: all 0.5s ease-Out;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

.dropbtn {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.dropbtn:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.drop-icon {
  padding-left: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3F1A81;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #7EFF7B;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* INDEX */
/* The login popup form - hidden by default */
.popup_overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-block {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  position: fixed;
  top: 5rem;
  background: linear-gradient(179.87deg, #553072 30.44%, #4e025c 99.88%);
  width: 64.4rem;
  min-height: 50rem;
  max-height: 80.3rem;
  border-radius: 25px;
  overflow-y: scroll !important;
  overflow: hidden;
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup__title {
  margin-top: 5.2rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: white;
}
.popup__text {
  margin-top: 2.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
}
.popup__text__forgot {
  margin: -2.1rem 0 4.2rem 20rem;
  font-weight: 400;
  font-size: 1.2rem;
}
.popup__text__forgot:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.popup__text__signup {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 1rem;
}
.popup__link__signup {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  color: white;
}
.popup__link__signup:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.popup__form {
  margin-top: 5.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__form__text {
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #7EFF7B;
}
.popup__form__input {
  width: 34.7rem;
  height: 4rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}
.popup__form__input::first-line {
  padding-left: 1rem;
}
.popup__form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__buttonarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}
.popup__buttonarea__button {
  background-color: #5518EC;
  border-radius: 25px;
  border: none;
  width: 15.7rem;
  height: 5.4rem;
  margin-bottom: 3.8rem;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}
.popup__buttonarea__button:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #7EFF7B;
  cursor: pointer;
}

.popup-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.whatis {
  width: 100vw;
  height: 85.6rem;
  background: url("../../src/img/index/lights_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 13.3rem;
}
.whatis__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  line-height: 8.3rem;
  font-size: 6.4rem;
  text-align: center;
  padding-bottom: 5rem;
}
.whatis__text {
  width: 52.9rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  line-height: 4rem;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 5rem;
}
.whatis__button {
  width: 20.9rem;
  height: 6.3rem;
  background-color: #5518EC;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.whatis__button:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #7EFF7B;
  cursor: pointer;
}
.whatis__image {
  width: 54rem;
  padding-top: 4.8rem;
}

.carousel {
  height: 55.5rem;
  width: 113.6rem;
  margin: 6.2rem auto;
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
}
.carousel__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10.4rem;
  width: 52.9rem;
}
.carousel__textarea__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
}
.carousel__textarea__text {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: center;
}
.carousel__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.carousel__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
}
.carousel__controls__prev {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../../src/img/index/prev.svg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}
.carousel__controls__prev:hover {
  opacity: 1;
}
.carousel__controls__next {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../../src/img/index/next.svg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}
.carousel__controls__next:hover {
  opacity: 1;
}
.carousel__indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  margin: 0 auto;
}
.carousel__indicators span {
  display: inline-block;
  background-color: #FC7BFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  margin: 3px;
}
.carousel__indicators span.active {
  opacity: 1;
}

.community {
  width: 100.9rem;
  padding-top: 8rem;
  margin: 0 auto;
}
.community__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 8rem;
}
.community__blockarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.1rem;
}
.community__blockarea__blocks {
  width: 28.9rem;
  height: 43.2rem;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.8rem;
}
.community__blockarea__blocks__imageOne {
  margin-bottom: 2.8rem;
}
.community__blockarea__blocks__imageTwo {
  margin-bottom: 6.1rem;
  margin-top: 2rem;
}
.community__blockarea__blocks__imageThree {
  margin-bottom: 4.4rem;
  margin-top: 1rem;
}
.community__blockarea__blocks__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  font-family: "Chakra Petch", sans-serif;
  padding-bottom: 3.1rem;
}
.community__blockarea__blocks__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  font-family: "Chakra Petch", sans-serif;
  color: #7EFF7B;
}

.features {
  width: 113.6rem;
  margin: 0 auto;
  padding-top: 14.4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
}
.features__blockarea__blocks {
  margin: 4rem 0;
  width: 113.6rem;
  height: 8.6rem;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__blockarea__blocks__text {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

/* LOGIN/REGISTER */
.login-hero {
  margin: 0 auto;
  width: 40.7rem;
  padding-bottom: 10rem;
}
.login-hero__title {
  margin-top: 4.6rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 4.8rem;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}
.login-hero__text {
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}

.formular {
  margin: 0 auto;
  width: 89rem;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formular__title {
  margin-top: 5.2rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: white;
}
.formular__text {
  margin-top: 2.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
}
.formular__text__forgot {
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: underline;
}
.formular__text__forgot:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.formular__text__signup {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  padding-bottom: 1rem;
}
.formular__link__signup {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  color: white;
}
.formular__link__signup:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.formular__form {
  margin-top: 5.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.formular__form__title {
  margin-top: 5.2rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: white;
  text-transform: uppercase;
  padding-bottom: 5rem;
  text-align: center;
}
.formular__form__info {
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 3.6rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: white;
  text-transform: uppercase;
  padding-bottom: 5rem;
  text-align: center;
}
.formular__form__text {
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #7EFF7B;
  width: 40rem;
}
.formular__form__input {
  width: 73.4rem;
  height: 8rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  background: rgba(217, 217, 217, 0.1);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  resize: none;
}
.formular__form__input::first-line {
  padding-left: 1rem;
}
.formular__form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__input::placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__input:disabled {
  opacity: 0.5;
}
.formular__form__input__options {
  background-color: purple;
}
.formular__form__input-file {
  margin-bottom: 2rem;
}
.formular__form__inputarea {
  width: 73.4rem;
  height: 12rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  background: rgba(217, 217, 217, 0.1);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  resize: none;
  padding-top: 1rem;
}
.formular__form__inputarea::first-line {
  padding-left: 1rem;
}
.formular__form__inputarea::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__inputarea::-moz-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__inputarea:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__inputarea::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__inputarea::placeholder {
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(177, 177, 177);
}
.formular__form__inputarea:disabled {
  opacity: 0.5;
}
.formular__form__inputarea__options {
  background-color: purple;
}
.formular__form__slider-block {
  margin-bottom: 3rem;
}
.formular__form__input-show {
  margin-left: 1rem;
  width: 25px;
  color: white;
  font-size: 1.6rem;
  background-color: rgba(217, 217, 217, 0);
  border: none;
  overflow: hidden;
}
.formular__form__input-show:focus {
  outline: none;
  background-color: rgba(217, 217, 217, 0);
}
.formular__form__linkarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2.5rem;
}
.formular__form__checkboxarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
}
.formular__form__checkboxarea__checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
}
.formular__form__checkboxarea__text {
  font-weight: 400;
  font-size: 1.4rem;
}
.formular__form__button {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 60.5rem;
  height: 7.3rem;
  background-color: #5518EC;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#the-count {
  font-size: 1.2rem;
  margin-top: -2.3rem;
  margin-left: 68rem;
}

.alert-danger {
  padding-top: 5rem;
  font-size: 2rem;
  color: #fa7272;
}

.alert-sucess {
  padding-top: 5rem;
  font-size: 2rem;
  color: #7EFF7B;
}

/* PROFILE */
.myprofile-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 113.6rem;
  height: 55rem;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  margin: 0 auto 5rem auto;
}

.myprofile-attribute {
  margin-left: 9rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40rem;
  gap: 2rem;
}
.myprofile-attribute__text {
  background: rgba(91, 8, 102, 0.4862745098);
  padding-top: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.4392156863);
  border-radius: 15px;
  width: 8rem;
  height: 2rem;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.myprofile-header {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}
.myprofile-header__image {
  width: 42.6rem;
  height: 38rem;
  border-radius: 33px;
  border: 3px solid rgba(255, 255, 255, 0.4392156863);
}
.myprofile-header__textarea {
  width: 52.9rem;
}
.myprofile-header__textarea__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.myprofile-header__textarea__subtitle {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}
.myprofile-header__textarea__text {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: rgb(202, 202, 202);
  font-style: italic;
}

.myprofile-nav__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 8rem;
}
.myprofile-nav__blockarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.1rem;
}
.myprofile-nav__blockarea__blocks {
  width: 28.9rem;
  height: 30.2rem;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.8rem;
}
.myprofile-nav__blockarea__blocks:hover {
  background: rgba(217, 217, 217, 0.2);
  cursor: pointer;
}
.myprofile-nav__blockarea__blocks__imageOne {
  margin-bottom: 3.6rem;
  width: 40%;
}
.myprofile-nav__blockarea__blocks__imageTwo {
  margin-bottom: 3.5rem;
  margin-top: 0.5rem;
  width: 30%;
}
.myprofile-nav__blockarea__blocks__imageThree {
  margin-bottom: 4.3rem;
  margin-top: 0.6rem;
  width: 50%;
}
.myprofile-nav__blockarea__blocks__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  font-family: "Chakra Petch", sans-serif;
  padding-bottom: 3.1rem;
}
.myprofile-nav__blockarea__blocks__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  font-family: "Chakra Petch", sans-serif;
  color: #7EFF7B;
}

.profile-info {
  width: 73.1rem;
  height: auto;
  padding-bottom: 20rem;
  border-radius: 25px;
  margin: 5rem auto;
  -webkit-clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 77%, 0 0);
          clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 77%, 0 0);
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-info__nav {
  width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;
  border-bottom: 1px solid #7F7DE7;
}
.profile-info__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21.8rem;
}
.profile-info__nav__links {
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
}
.profile-info__nav__links:hover {
  cursor: pointer;
  opacity: 0.5;
}
.profile-info__titles {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(91, 8, 102, 0.4862745098);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4392156863);
  border-radius: 15px;
  margin-bottom: 5rem;
}
.profile-info__global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}
.profile-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.profile-info__skills {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}
.profile-info__gallery {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}
.profile-info__items {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.profile-info__bar-items {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.profile-info__bar-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #7EFF7B;
  text-transform: uppercase;
  width: 25rem;
}
.profile-info__title {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
  color: #7EFF7B;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  width: 25rem;
}
.profile-info__text {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  width: 25rem;
}
.profile-info__text__link {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  width: 25rem;
}
.profile-info__text__link:hover {
  color: rgba(255, 255, 255, 0.795);
  cursor: pointer;
}

#nav_global {
  color: #7EFF7B;
}

.meter {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1rem;
  position: relative;
  margin-bottom: 2rem;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1098039216);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.4392156863);
  border-radius: 25px;
  padding: 0.5rem;
  width: 30rem;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #FC7BFF;
  position: relative;
  overflow: hidden;
}

.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

.margin-bottom {
  margin-bottom: 13rem;
}

/* SEARCH PROFILES */
.search-profile-filterbar {
  width: 113.6rem;
  height: 6.6rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
}

.search-profile-profiles {
  width: 113.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem auto;
  gap: 3rem;
}
.search-profile-profiles__block {
  border-radius: 25px;
  width: 35.7rem;
  height: 43.6rem;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-profile-profiles__block__image {
  margin: 4rem 0 3rem 0;
  max-width: 25.6rem;
  max-height: 24rem;
}
.search-profile-profiles__block__username {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  color: #7EFF7B;
  margin-bottom: 1rem;
}
.search-profile-profiles__block__text {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  color: #ffffff;
}

.footer {
  width: 101.3rem;
  height: 13.2rem;
  margin: 0 auto;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #4543A9;
}
.footer__copyright {
  padding-top: 3rem;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
.footer__logo {
  margin: 0 13.3rem 0 0;
  width: 11.5rem;
}
.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.footer__nav__list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-right: 13.5rem;
}
.footer__nav__list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.footer__nav__links {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.footer__nav__links:hover {
  color: #7EFF7B;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}/*# sourceMappingURL=style.css.map */