/* Custom dropdown for lang button */

.header {
  width: 101.3rem;
  height: 13.2rem;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #4543A9;

  &__logo {
    margin: 0 13.3rem 0 0;
    width: 11.5rem;
  }

  &__nav {

    &__list {

      &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        margin-right: 13.5rem;
      }

      &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 15rem;
        gap: 0rem;
      }
    }

    &__links {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;

      @include hoverLinks;
    }

    &__button-register {
      width: 17.4rem;
      height: 5.3rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 25px 0 0 25px;
      border: none;

      color: white;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      letter-spacing: 1.5px;

      @include hoverButton;

      #circle {
        width: 0%;
        height: 0%;
        opacity: 0;
        line-height: 40px;
        border-radius: 50%;
        background: #BFC0C0;
        position: absolute;
        transition: all .5s ease-Out;
        top: 20px;
        left: 70px;
      }
    }

    &__button-login {
      width: 14.4rem;
      height: 5.3rem;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 0 25px 25px 0;
      border: none;

      color: white;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 1.5px;
      text-align: center;

      @include hoverButton;

      #circle {
        width: 0%;
        height: 0%;
        opacity: 0;
        line-height: 40px;
        border-radius: 50%;
        background: #BFC0C0;
        position: absolute;
        transition: all .5s ease-Out;
        top: 20px;
        left: 70px;
      }
    }
  }


}

.dropbtn {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;

  @include hoverLinks;
}

.drop-icon {
  padding-left: 0.5rem;
  cursor: pointer;

  &:hover {
    color: #7EFF7B;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.dropdown-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #ffffff70;
  cursor: pointer;

  &:hover {
    border: 3px solid #7EFF7B;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3F1A81;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 25rem;
  margin-left: 2.5rem;
}

.notification-dropdown-content {
  display: none;
  position: absolute;
  background-color: #3F1A81;
  width: 200px;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1.4rem;
  margin-left: -8.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-right: 1rem;
}

&::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

&::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

&::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

&::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

  &__title {
    width: 140px;
    margin: 1rem auto;
    color: #7EFF7B;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #4543A9;
    
  }
}

.profile-dropdown-icon {
  margin-right: 1rem;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #7EFF7B;
}

.notification-dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
}

.notification-dropdown-content a:hover {
  color: #7EFF7B;
}

//NOTIFICATION

.notification-icon {
  margin-right: 5rem;
  cursor: pointer;

  &:hover {
    color: #7EFF7B;
  }
}

.notification-bubble {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(201, 45, 45);
  border-radius: 50%;
  border: 1px solid #7dff7b98;

  color: white;
  text-align: center;
  font-size: 1.2rem;

}

.hover-img {
  border: 3px solid #7EFF7B;
}

.hover-icon {
  color: #7EFF7B;
}

//NOTIFICATIONS & MESSAGES
.button-notification {
  width: 38px;
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 0;
  margin-right: 3rem;
}

.button-message {
  width: 45px;
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 0;
  margin-right: 3rem;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  font-family: $exo;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  font-size: 10px;

  position: absolute;
  /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.notification_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.notification-title {
  color: #7EFF7B;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.notification-text {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.notification-date {
  color: #BFC0C0;
}
