.formular {
    margin: 0 auto;
    width: 89rem;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 5.2rem;
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
        background-clip: text;
        color: white;
    }

    &__text {
        margin-top: 2.1rem;
        font-weight: 400;
        font-size: 1.6rem;
        color: white;

        &__forgot {
            font-weight: 400;
            font-size: 1.4rem;
            text-decoration: underline;
            
            @include hoverLinks;
        }

        &__signup {
            font-weight: 400;
            font-size: 1.2rem;
            color: white;
            padding-bottom: 1rem;
        }

    }

    &__link {

        &__signup {
            font-weight: 700;
            font-size: 1.2rem;
            text-decoration: underline;
            color: white;

            @include hoverLinks;
        }
    }

    &__form {
        margin-top: 5.3rem;
        display: flex;
        flex-direction: column;

        &__title {
            margin-top: 5.2rem;
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.6rem;
            background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
            background-clip: text;
            color: white;
            text-transform: uppercase;
            padding-bottom: 5rem;
            text-align: center;
        }
        
        &__info {
            margin-top: 1.2rem;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 3.6rem;
            background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
            background-clip: text;
            color: white;
            text-transform: uppercase;
            padding-bottom: 5rem;
            text-align: center;
        }

        &__text {
            margin-bottom: 0.8rem;
            margin-left: 0.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            color: #7EFF7B;
            width: 40rem;
        }

        &__input {
            width: 73.4rem;
            height: 8rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            background: rgba(217, 217, 217, 0.1);
            border: none;
            border-radius: 15px;

            color: white;
            font-weight: 500;
            font-size: 1.8rem;
            resize: none;
            &::first-line {
                padding-left: 1rem;
            }

            &::placeholder {
                font-weight: 500;
                font-size: 1.8rem;
                color: rgb(177, 177, 177);
            }

            &:disabled {
                opacity: 0.5;
            }

            &__options {
                background-color: purple;
            }
        }

        &__input-file {
            margin-bottom: 2rem;
        }

        &__inputarea {
            width: 73.4rem;
            height: 12rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            background: rgba(217, 217, 217, 0.1);
            border: none;
            border-radius: 15px;

            color: white;
            font-weight: 500;
            font-size: 1.8rem;
            resize: none;
            padding-top: 1rem;

            &::first-line {
                padding-left: 1rem;

            }

            &::placeholder {
                font-weight: 500;
                font-size: 1.8rem;
                color: rgb(177, 177, 177);
            }

            &:disabled {
                opacity: 0.5;
            }

            &__options {
                background-color: purple;
            }
        }

        &__slider-block {
            margin-bottom: 3rem;
        }

        &__input-show {
            margin-left: 1rem;
            width: 25px;
            color: white;
            font-size: 1.6rem;
            background-color: rgba(217, 217, 217, 0.0);
            border: none;
            overflow: hidden;
            
            &:focus {
                outline: none;
                background-color: rgba(217, 217, 217, 0.0);
            }
        }
        &__linkarea {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 2.5rem;
        }

        &__checkboxarea {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            &__checkbox {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
            }

            &__text {
                font-weight: 400;
                font-size: 1.4rem;
            }
        }

        &__button {
            margin: 0 auto;
            margin-bottom: 5rem;
            width: 60.5rem;
            height: 7.3rem;
            background-color: #5518EC;
            border: none;
            border-radius: 15px;

            color: white;
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }
    }
}

#select {
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#the-count {
    font-size: 1.2rem;
    margin-top: -2.3rem;
    margin-left: 68rem;
  }

.alert-danger {
    padding-top: 5rem;
    font-size: 2rem;
    color: #fa7272;
}

.alert-sucess {
    padding-top: 5rem;
    font-size: 2rem;
    color: #7EFF7B;
}