* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: linear-gradient(179.87deg, #230079 0.27%, #380062 46.44%, #7D0491 99.88%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 376.3rem;
}