@mixin hoverLinks {

    &:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: all .15s ease-in-out;
    }
}

@mixin hoverButton {
    &:hover {
        transition: all .25s ease-in-out;
        background: rgba(85, 24, 236, 0.5);
        cursor: pointer;
    }
}