@mixin hoverLinks {

    &:hover {
        color: #7EFF7B;
        cursor: pointer;
        transition: all .15s ease-in-out;
    }
}

@mixin hoverButton {
    &:hover {
        transition: all .25s ease-in-out;
        background: #7EFF7B;
        cursor: pointer;
    }
}